[workspace]
resolver = "3"
members = ["kernel", "userspace", "utils"]

[profile.dev]
panic = "abort"
opt-level = 3

[profile.release]
panic = "abort"
opt-level = 3
lto = true
debug = false
# opt-level = "z"
# codegen-units = 1
