[package]
name = "kernel"
version = "0.1.0"
edition = "2024"
build = "build.rs"

[[bin]]
name = "kernel"
test = false
bench = false

[dependencies]
bitflags = "2.9.4"
utils = { path = "../utils" }

[package.metadata.build-script]
rustc-target = "i386-unknown-none"
